<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="TravelEase"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelEaseApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ADAPTOR.ProviderBookingsAdaptor"
            android:exported="false" />
        <activity
            android:name=".ADAPTOR.UserVehicleBookingAdaptor"
            android:exported="false" />
        <activity
            android:name=".USER_MODULE.BookVehicles"
            android:exported="false" />
        <activity
            android:name=".USER_MODULE.VehiclesActivity"
            android:exported="false" />
        <activity
            android:name=".ADAPTOR.UserVehiclesAdaptor"
            android:exported="false" />
        <activity
            android:name=".ADAPTOR.UserVehicleProvidersAdaptor"
            android:exported="false" />
        <activity
            android:name=".ADAPTOR.ProviderVehicleAdaptor"
            android:exported="false" />
        <activity
            android:name=".USER_MODULE.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".USER_MODULE.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ADAPTOR.UserBookingAdaptor"
            android:exported="false" />
        <activity
            android:name=".USER_MODULE.BookingPackages"
            android:exported="false" />
        <activity
            android:name=".ADAPTOR.UserPackageAdaptor"
            android:exported="false" />
        <activity
            android:name=".ADAPTOR.AdminPackageAdaptor"
            android:exported="false" />
        <activity
            android:name=".ADAPTOR.AdminProvidersAdaptor"
            android:exported="false" />
        <activity
            android:name=".ADAPTOR.AdminUsersAdaptor"
            android:exported="false" />
        <activity
            android:name=".VEHICLE_PROVIDER_MODULE.AddVehicles"
            android:exported="false" />
        <activity
            android:name=".ADMIN_MODULE.ReviewsAndFeedbacks"
            android:exported="false" />
        <activity
            android:name=".ADMIN_MODULE.UpdatePackages"
            android:exported="false" />
        <activity
            android:name=".ADMIN_MODULE.PackagesActivity"
            android:exported="false" />
        <activity
            android:name=".ADMIN_MODULE.AddPackages"
            android:exported="false" />
        <activity
            android:name=".ADMIN_MODULE.VehicleProviders"
            android:exported="false" />
        <activity
            android:name=".ADMIN_MODULE.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".VEHICLE_PROVIDER_MODULE.VehicleProviderHome"
            android:exported="false" />
        <activity
            android:name=".USER_MODULE.UserHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ADMIN_MODULE.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".VEHICLE_PROVIDER_MODULE.ProviderRegActivity"
            android:exported="false" />
        <activity
            android:name=".USER_MODULE.UserRegActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>